/* general */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #0061fe;
    padding: 5px;
    border: 0px;
    color: white;
}

ul{
    list-style-type: none;
}

/* header */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.top {
    display: flex;
    align-items: center;
}

.top * {
    margin: 0px 20px;
}

.links {
    border: 0px;
    background-color: white;
    color: black;
}

/* main */

/* jumbotron  */

.jumbotron{
    background-color: #b4d0e6;
}

.jumbotron .container {
    width: 70%;
    position: relative;
    bottom: -100px;
    margin: auto;
}

.jumbo.content{
    display: flex;
    margin: auto;
}

.jumbotron img {
    width: 100%;
}

.jumbotron h1{
    margin: auto;
    font-size: 85px;
    margin-bottom: 50px;
}

.jumbotron .left{
    width: 30%;
}

.jumbotron .right {
    width: 70%;
}

.jumbotron .left *{
    display: block;
    margin: 0px 0px 30px 0px;
}

.left p{
    line-height: 1.5;
    margin-bottom: 30px;
}

.fa-solid.fa-arrow-down{
    font-size: 40px;
    margin-top: 100px
}

/* big contaier  */

.big.container {
    width: 60%;
    margin: auto;
    margin-top: 200px;
}

.big.container h1{
    margin-bottom: 70px;
}

.radio {
    display: flex;
    margin-bottom: 50px;
}

.radio span{
    margin-right: 20px;
}

.cerchio.I{
    width: 19px;
    border: 5px solid #0061fe;
    border-radius: 50%;
}

.cerchio.II{
    width: 19px;
    border: 2px solid gray;
    border-radius: 50%;
}

.grid {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: calc((100% - 60px) /3);
}

.row {
    flex-grow: 1;
}

.column, .row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

}

.head {
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
}

.head *{
    margin: 0px 3px;
}

.plan {
    padding: 15px 15px 100px 15px;
}

.plan h2{
    margin-bottom: 20px;
}

.plan span {
    margin: 10px 0px;
}

.plan i{
    margin-right: 10px;
}

.plan > * {
    display: block;
}

.plan ul{
    margin: 40px 0px;
}

.plan li {
    margin: 15px 0px;
}

.plan button{
    margin: auto;
    margin-bottom: 20px;
}


/* debug */

.row {
    background-color: blue;
    height: 200px;
    width: 600px;
}